<div class="jumbotron">
      <div class="container">
        <h1>Saved Articles</h1>
      </div>  
    </div>

    <div id="wrapper">
      <ul>
        {{#each articles}}
          <li>{{this}}</li>
        {{/each}}
      </ul>    
    </div>  