<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Scraper with commenting</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li><img src="../public/assets/images/salon-twitter-card.jpg" style="height:80px;"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Saved articles</a></li>
          </ul>
          <button type="submit" class="btn btn-danger btn-lg">Scrape New Articles</button>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>{{heading}}</h1>
        <h2>Salon Edition</h2>
      </div>  
    </div>

    <div id="wrapper">
      <ul>
        {{#each articles}}
          <li>{{this}}</li>
        {{/each}}
      </ul>    
    </div>  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>